.navbar {
  font-size: 1.875rem;
  text-transform: none;
  gap: 0.4rem;
  grid-gap: 1px;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 0.3rem;
  padding-bottom: 0rem;
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 2;
  width: 100%;
  text-decoration: none !important;
}

.m-auto {
  margin: auto !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  gap: 55px;
  font-size: 2.1rem;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: #282829 !important;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(101, 104, 190) !important;
}

.navbar-brand {
  padding-bottom: 0.1rem;
  text-decoration: none;
  white-space: nowrap;
}

.btn-primary {
  color: #fff;
  background-color: #225785;
  border-color: #1a1a1a;
  text-transform: none;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.1rem;
  font-weight: 600;
  padding: 1.3rem 3rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--form {
  color: #fdf2e9;
  align-self: end;
}

.btn--form:hover {
  background-color: #fff;
  color: rgb(101, 104, 190);
}

.a {
  color: #1a1a1a;
  text-decoration: none !important;
}

/**************************/
/*    Media Queries       */
/**************************/

@media only screen and (min-width: 992px) {
  .nav-link {
    padding-right: 5.5rem;
    padding-left: 0.5rem;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 2.1rem;
    gap: 0px;
  }
}
